body[b-bed2ou2pwz] {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    
}

.container[b-bed2ou2pwz] {
    margin-top: 50px;
}

.search-bar[b-bed2ou2pwz] {
    margin-bottom: 20px;
}


.modal[b-bed2ou2pwz] {
    display: none;
}