@inject IdentityService SaleService
<div class="container bg-light rounded bg-opacity-75">
    <h1 class="text-center mb-4">Employees Dashboard</h1>
    <div class="input-group mb-3 search-bar">
        <input @bind="key" @oninput="SearchSale" type="text" class="form-control" id="searchInput" placeholder="Type name or date">
    </div>
    <div class="table-responsive">
        <table class="table table-striped table-hover table-dark">
            <thead class="table-header">
                <tr>
                    <th>UserName</th>
                    <th>Company Name</th>
                    <th>Remove</th>
                </tr>
            </thead>
            <tbody id="salesTable">
                <!-- Table rows will be dynamically added here -->
                @if(TempList.Count == 0)
                {
                    <tr>
                        <td class="text-center" colspan="3">
                            No Results
                        </td>
                    </tr>
                    
                }
                else
                {
                    foreach(var sale in TempList)
                    {
                        <tr>
                            <td>@sale.UserName!.ToUpper()</td>
                            <td>@sale.CompanyName</td>
                            <td><button class="btn btn-danger btn-sm" @onclick="@((e) => HandleDeleteAsync(e,sale.Id))"><span class="iconify" data-icon="ic:round-delete"></span></button></td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>

@code {
    [Parameter]
    public string CompanyName { get; set; } = string.Empty;
    [Parameter]
    public string AdminName { get; set; } = string.Empty;
    List<AppUser> OriginalList { get; set; } = new ();
    List<AppUser> TempList { get; set; } = new();

    string key = string.Empty; 
    protected async override Task OnParametersSetAsync()
    {
        OriginalList = await SaleService.GetEmployees(CompanyName, AdminName);
        TempList = OriginalList;
    }
    private void SearchSale(ChangeEventArgs e)
    {
        key = e.Value!.ToString() ?? string.Empty;
        Regex rx = new(@$"{key.ToLower()}");
        TempList = OriginalList.Where(s => 
                                rx.IsMatch(s.UserName.ToLower())
            ).ToList();
    }
    private async Task HandleDeleteAsync(EventArgs e , string Id)
    {
        var employee = await SaleService.GetAsync(Id);
        TempList.Remove(employee);
        OriginalList.Remove(employee);
        await SaleService.DeleteAsync(Id);
    }
}
