@inject IdentityService IdentityServices
<style>    
.btn-floating {
        position: fixed;
        bottom: 20px;
        right: 20px;
        z-index: 1000; /* Ensures the button stays on top of other content */
    }
</style>
<a asp-action="InsectionForm" asp-controller="Home" asp-route-companyName="@IdentityServices.GetCompanyNameAsync(User.Identity!.Name!)" class="btn btn-lg btn-primary text-white text-center rounded-circle btn-floating">+</a>
<component type="typeof(Insections)" render-mode="ServerPrerendered" param-CompanyName="@IdentityServices.GetCompanyNameAsync(User.Identity!.Name!)" />
