.container {
    margin-top: 50px;
}

.form-container {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#sub{
    margin-left:40%;
}
.form-row {
    margin-bottom: 20px;
}

.form-group label {
    font-weight: bold;
}

.btn-primary {
    background-color: #3498db;
    border-color: #3498db;
}

    .btn-primary:hover {
        background-color: #2980b9;
        border-color: #2980b9;
    }
